:root{
    --fontSecundario: Arial, Helvetica, sans-serif;
    --fontPrincipal: "Atomic Age", system-ui;
    --fondoPrincipal: #131313;
    --UI: #242424;
    --InputHover: #999999;
    --btn:#616161;
    --white: #ffffff;
}
html{
    font-size:62.5%;
    box-sizing:border-box;
}
*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-weight: 400;
    font-style: normal;
}
body {
    overflow:hidden;
    height: 100vh;
    display: grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(12,1fr);
    font-size:1.5rem;
    font-family:var(--fontPrincipal);
    background-color:var(--fondoPrincipal);
}
.UI{
    display:flex;
    justify-content:center;
    align-items:center;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(2,1fr);
    
    background-color:var(--UI);
    grid-column:1/13;
    grid-row:1/2;
    border:0.3rem solid var(--fondoPrincipal);
}
.UI input{
    margin:0 1rem;
    padding:1rem;
    border:0.1rem solid var(--white);
    border-radius:0.2rem;
    outline:none;
}
.UI input::placeholder{
    color:black;
}
.UI button{
    padding:0.4rem;
    border-radius:0.2rem;
    border:0;
    background-color: #008fe2;
}
.UI button:active, #btnModificar:active{
    transform:scale(1.1);
}
.UI button svg{
    color:white;
}
#btnModificar{
    background-color: #008fe2;
    border:0;
    color:var(--white);
}
.UiHerramientas{
    grid-column:1/2;
    grid-row:2/13;
    background-color:var(--UI);
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(12,1fr);
    border:0.3rem solid var(--fondoPrincipal);
}
#seleccionarColor{
    height:80%;
    color:var(--white);
    background-color:var(--UI);
    border:0;
}
.UiHerramientas div{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    color:var(--white);
    background-color:var(--UI);
    border:0;
}
.UiHerramientas div:hover{
    background-color:var(--InputHover);
}
.limiteVision{
    grid-column:2/13;
    grid-row:2/13;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    overflow:scroll;
    
}
.limiteVision::-webkit-scrollbar{
    width: 1rem;
  height: 1rem
}
.limiteVision::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.2rem;
}
.limiteVision::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.limiteVision canvas{
    position:absolute;
}
@media (max-width: 480px) {
    .UI{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:repeat(2,1fr);
        grid-column:1/13;
        grid-row:1/2;
    }
    .UI input{
        margin:0;
        padding:1rem;
        border:0.1rem solid var(--white);
        border-radius:0.5rem;
    }
    .UiHerramientas{
        grid-template-rows:repeat(2,1fr);
        grid-column:1/13;
        grid-row:2/3;
    }
    .limiteVision{
        grid-column:1/13;
        grid-row:3/13;
    }
}